<div class="container">
  <h1>Welcome to Anginbnb, Inc.!</h1>
  <p>Rent unique places to stay from local hosts in Malaylay.</p>
<br>

  <form action="/users/login" method="POST">

      <label for="InputEmail" >Email address</label>
      <input type="text" name="email" placeholder="username@anginbnb.com" >


      <label for="InputPassword">Password</label>
      <input type="text" name="password" placeholder="password">

    <input type="submit" value="login">
  </form>


  <hr>
  <h1>Other Option?</h1>

  <a href="/join_us"><button class="btn btn-info">Join us?</button></a>
  <a href="/view"><button class="btn btn-info">View Properties!</button></a>









<!--  <form id="IntoSignUpForm" action="/" method="POST">
    <button type="submit" class="btn btn-info" name="login[sign_up_btn]" value="true">Sign-Up?</button>
    <button type="submit" class="btn btn-info" name="login[view_post_btn]" value="true">View Post</button>
  </form> -->
  <br>
</div>