
<div class="container">
  <br>
  <h1 for="LoginForm">Join us :)</h1>
  <br>
  <form id="LoginForm" action="/join_us" method="POST">
    <div class="form-group">
      <label for="SignUpEmail" >Email address</label>
      <input type="email" class="form-control" id="SignUpEmail" name="input[email]" placeholder="username@anginbnb.com" required>
    </div>
    <div class="form-group">
      <label for="SignUpPassword">Passwerddd</label>
      <input type="password" class="form-control" id="SignUpPassword" name="input[password]" placeholder="password" required>
    </div>
    <div class="form-group">
      <label for="SignUpName">Name</label>
      <input type="text" class="form-control" id="SignUpName" name="input[name]" placeholder="Jawsh Young" required>
    </div>
    <button type="submit" class="btn btn-primary" name="input[btn]" value="true">Sign Up</button>
  </form>
  <br>
</div>

<div class="container">
  <hr>
  <h1>Want to Go Somewhere Else?</h1>
  <form id="SignUpNavForm" action="/" method="GET">
    <button type="submit" class="btn btn-info" name="SignUpNav[back_btn]" value=true>Back to Anginbnb Homepage :)</button>
  </form>
</div>